<?xml version="1.0"?>
<!--
/**
 * Copyright 2021 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="placeholderProcessor" sortOrder="102" xsi:type="object">Checkout\Placeholder\Block\Onepage\PlaceholderProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Checkout\Placeholder\Block\Onepage\PlaceholderProcessor">
        <arguments>
            <argument name="processList" xsi:type="array">
                <item name="shippingAddress" xsi:type="array">
                    <item name="searchKey" xsi:type="string">shipping-address-fieldset</item>
                    <item name="fieldsPath" xsi:type="string">/children</item>
                </item>
                <item name="billingAddress" xsi:type="array">
                    <item name="searchKey" xsi:type="string">form-fields</item>
                    <item name="fieldsPath" xsi:type="string">/children</item>
                </item>
                <item name="summary" xsi:type="array">
                    <item name="searchKey" xsi:type="string">summary</item>
                    <item name="fieldsPath" xsi:type="string">/children/additional/children</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>