<?xml version="1.0"?>
<!--
/**
 * Copyright 2021 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="placeholderRequiredFlags" sortOrder="102" xsi:type="object">Checkout\Placeholder\Block\Onepage\RequiredFlagsProcessor</item>
            </argument>
        </arguments>
    </type>
</config>