// /**
//  * Copyright 2021 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
//  * See COPYING.txt for license details.
//  */

@checkout__placeholder__hide__address__labels: true;
@checkout__placeholder__hide__email__label: true;
@checkout__placeholder__hide__comment__label: true;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    & when (@checkout__placeholder__hide__address__labels = true) {
        .checkout-index-index .fieldset.address .field:not(.choice) .label {
            display: none;
            &::before,
            &::after {
                display: none;
            }
        }
    }

    & when (@checkout__placeholder__hide__email__label = true) {
        #customer-email-fieldset label:not(.choice) {
            display: none;
        }
    }

    & when (@checkout__placeholder__hide__comment__label = true) {
        div.field[class*="comment"] .label {
            display: none;
        }
    }
}